* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #410358, #4700bc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  background: #fff;
  color: #383838;
  padding: 10px 40px;
  border-radius: 6px;
}
ul {
  margin: 20px 30px;
}
ul li {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  line-height: 45px;
  background-position: 0 -45px;
  transition: background-position 0.5s;
}

.btn1,
.btn2 {
  display: inline-flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  color: #383838;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn1 img{
    width: 24px;
    margin-right: 15px;

}

.btn2 img{
    width: 24px;
    margin-left: 15px;
    transform: rotate(180deg);
    
}

ul li.active{
    color: #fff;
    background-image: linear-gradient(#ff4568,#ff4568) ;
    background-repeat: no-repeat;
background-position: 0 0;
}